html
  head
    title= title
  body
    h1= message
    div
      h1 what account would you like to use?
      div(style={color: 'red', background: 'green'})
        a Current account
        a Savings account
        a ISA account
      h1 What service would you like to use?
      div(style={color: 'red', background: 'green'})
        a(href="/nonskem/checkbalance") Check Balance
        a(href="/nonskem/TransferPayment") Transfer Payment
        a(href="/nonskem/checkbalance") Standing order????