html
  head
    title= title
    
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
  body
  div.container
    h1.text-center= message
    div
      h1.w-100.text-center What account would you like to use?
      div
        each val in accounts
          .card.w-100
            .card-body
              h5.card-title #{val.AccountName}
              p.card-text Current Amount: &pound;#{val.CurrentAmount}
              a.btn.btn-primary(href='/nonskem/checkbalance/' + val.AccountID) Check Balance
              br
              br
              a.btn.btn-danger(href='/nonskem/transferpayment/'+ + val.AccountID) Transfer Payment   
          br
         
        