html
  head
    title= title
  body
    h1= message
    a(class='button' href='https://www.google.com') Check Balance
    a(class='button' href='/shem') Transfer Payment
    a(class='button' href='/nonshem') Standing Order
