html
  head
    title= title
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO' crossorigin='anonymous')
 

    style
      include ../../styles/styles.css
    
  body.skemBack 
      div.container-fulid
        a(href="/skem") 
          button#HomeButton HOME
        h1 #{account.AccountName}
        h1 Current Amount: £ #{account.CurrentAmount}
        h1= message
        .scalene
        form(method="POST" action='' enctype='application/json')
          div#check 
            #CheckBodyStubRoll
            #CheckBodyStub
              div
                p Date_____
                p £________
                p Memo_____
              
            #CheckBody
            
              #RowOne
                
              
                h1#checkTitle National Bank of Hallam
                p Date:
                input#Entry(type='date' name='Created_date' value='2018-11-27' )
              #RowTwo
                .form-group
                    p Pay To:
                    input#Entry(type='text' placeholder='Enter Name Here' name='Recipient')
                    p &pound;
                    input#Entry(type='number' placeholder='Enter Amount' name='AmountDue' onchange="update()"  min="0" value="0" )
              #RowThree
                  .form-group
                    input#Entry(type='text' placeholder='' name='numbers' value="Zero Pounds" readonly)
                    //- p Account Number: 
                    //- input#Entry(type='text' placeholder='Enter Account Number' name='AccountNumber') 
                    //- p Sort Code: 
                    //- input#Entry(type='text' placeholder='Enter Sort Code' name='SortCode') 
                    
              #RowFour
                p Memo: 
                input#Entry(type='text' placeholder='Enter Message' name='Message') 
                
              #RowFive
                p :0294372: "9382301: .234
                button#Checkbutton Confirm Transfer Payment
  script    
    include ../../numbers.js





