/* ******************************* General Stuff ************************************** */

body {
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #eedfde;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
body h1 {
    padding-top: 20px;
    text-align: center;
}

#HomeButton {
    border-radius: 5px;
    background-color: #3f51b5;
    color: white;
    width: 200px;
    height: 100px;
}


/* ******************************* Check Book ************************************** */

.skemBack {
    background-color: #785f2c;
background-image: url("https://www.transparenttextures.com/patterns/brushed-alum.png");
}

#check {
   height: 400px;
   width: 1230px;
   box-shadow: 
    0 20px 30px -15px rgba(0,0,0,0.5),
    0 40px 40px -20px rgba(0,0,0,0.4),
    0 70px 50px -30px rgba(0,0,0,0.3),
    0 40px 60px -5px rgba(203,14,40,0.3);
    padding: -10px;
}

#CheckBody {
    
    width: 1000px;
    height: 400px;
    border: 20px solid #00bcd4;
    border-left: 0px dashed black;
    background-color: #eeff8f;
background-image: url("https://www.transparenttextures.com/patterns/low-contrast-linen.png");
    display: inline-block;
    position: absolute;
    margin-left: 240px;
}
#CheckBodyStub {
    position: absolute;
    height: 400px;
    /* padding-bottom: 360px; */
    Background-color: #eeff8f;
    border-right: 3px dashed black;
    border-top: 20px solid #00bcd4;
    border-bottom: 20px solid #00bcd4;
    display: inline-block;
    background-color: #eeff8f;
background-image: url("https://www.transparenttextures.com/patterns/low-contrast-linen.png");
    box-shadow: 
    0 0px 0px -15px rgba(0,0,0,0.5),
    0 20px 20px -20px rgba(0,0,0,0.4),
    0 0px 0px -30px rgba(0,0,0,0.3),
    0 20px 10px -5px rgba(203,14,40,0.3);
    margin-left: 100px;
}
#CheckBodyStub div {
    margin-bottom: -141.5px;
    margin-top: 280px;

}
#CheckBodyStub div p {
    Margin-top: -80px;
    font-size: 24px;
    Margin-bottom: -20px;
    margin-right: 10px;
}



#CheckBodyStubRoll {
    width:150px;
    height: 400px;
    border-left: 0px solid #00bcd4;
    position: absolute;
    
background: rgba(145,145,145,1);
background: -moz-linear-gradient(left, rgba(145,145,145,1) 0%, rgba(145,145,145,1) 22%, rgba(246,246,246,1) 59%, rgba(238,255,143,1) 91%, rgba(238,255,143,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(145,145,145,1)), color-stop(22%, rgba(145,145,145,1)), color-stop(59%, rgba(246,246,246,1)), color-stop(91%, rgba(238,255,143,1)), color-stop(100%, rgba(238,255,143,1)));
background: -webkit-linear-gradient(left, rgba(145,145,145,1) 0%, rgba(145,145,145,1) 22%, rgba(246,246,246,1) 59%, rgba(238,255,143,1) 91%, rgba(238,255,143,1) 100%);
background: -o-linear-gradient(left, rgba(145,145,145,1) 0%, rgba(145,145,145,1) 22%, rgba(246,246,246,1) 59%, rgba(238,255,143,1) 91%, rgba(238,255,143,1) 100%);
background: -ms-linear-gradient(left, rgba(145,145,145,1) 0%, rgba(145,145,145,1) 22%, rgba(246,246,246,1) 59%, rgba(238,255,143,1) 91%, rgba(238,255,143,1) 100%);
background: linear-gradient(to right, rgba(145,145,145,1) 0%, rgba(145,145,145,1) 22%, rgba(246,246,246,1) 59%, rgba(238,255,143,1) 91%, rgba(238,255,143,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#919191', endColorstr='#eeff8f', GradientType=1 );

 
    box-shadow: 
    0 20px 30px -15px rgba(0,0,0,0.5),
    0 70px 40px -20px rgba(0,0,0,0.4),
    0 200px 70px -30px rgba(0,0,0,0.3),
    0 70px 60px -5px rgba(203,14,40,0.3);
    display: inline-block;
    border-right: 1px solid black;
    
}
#Entry {
    background-color: #eeff8f;
    border: 1px solid black;
    width: 150px;
    padding: 5px;
    display: inline-block;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    font-size: 20px;
    font-family: cursive;
    background-color: #eeff8f;
background-image: url("https://www.transparenttextures.com/patterns/low-contrast-linen.png");
}
#RowOne #Entry {
    background-color: white;
    background-image: url("https://www.transparenttextures.com/patterns/low-contrast-linen.png");
    border: 1px solid black;
    width: 150px;
    padding: 5px;
    display: inline-block;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
}
#RowOne {
    height: 100px;
    width: 980px;
    display: inline-block;
    /* padding-bottom: 20px; */
    background-color: white;
    background-image: url("https://www.transparenttextures.com/patterns/low-contrast-linen.png");
    border-bottom: 2px solid black;
    
   
}
#RowOne p {
    width: 120px;
    display: inline-block;
    font-size: 14px;
    padding-bottom: 10px;
}
#RowTwo {
    padding: 0px 40px 0px 20px;
    display: inline-block;
    width: 1000px;
    height: 80px;
}
#RowTwo #Entry {
    display: inline-block;
    margin-top: 30px;
    margin-right: 20px;
    width: 200px;
}

#RowOne p {
    width:80px;
    display: inline-block;
    font-size: 26px;
    padding-bottom: 10px;
}

#RowTwo #Entry {
    display: inline-block;
    margin-top: 30px;
    margin-right: 20px;
    width: 200px;
}

#RowTwo .form-group p {
    width: 90px;
    display: inline-block;
    font-size: 26px;
    padding-bottom: 10px;
    padding-top: 10px;
}
#RowTwo .form-group p:last-of-type {
    width: 20px;
    display: inline-block;
    font-size: 26px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#RowTwo .form-group  #Entry {
    display: inline-block;
    margin-top: 30px;
    margin-right: 20px;
    
    width: 610px;
}
#RowTwo .form-group  #Entry:last-of-type {
    display: inline-block;
    margin-top: 30px;
    margin-right: 20px;
    font-size: 20px;
    width: 180px;
    background-color: white;
}

#RowThree {
    height: 50px;
    padding: 0px 40px 0px 20px;
    display: inline-block;
    width: 1000px;
    height: 50px;
}

#RowThree .form-group p {
    width: 120px;
    display: inline-block;
    font-size: 26px;
    padding-bottom: 10px;
}

#RowThree #Entry {
    display: inline-block;
    margin-right: 20px;
    width: 700px;
}
#RowFour {
    height: 60px;
    width: 1000px;
    display: inline-block;
    padding: 0px 40px 0px 20px;
}
#RowFour p {
    width: 90px;
    display: inline-block;
    font-size: 26px;
    padding-bottom: 10px;
}
#RowFour .form-group p {
    width:50px;
    display: inline-block;
    font-size: 26px;
    padding-bottom: 10px;
}

#RowThree .form-group p {
    width: 250px;
    display: inline-block;
    font-size: 26px;
    padding-bottom: 10px;
}

#RowThree .form-group p:last-of-type {
    width: 145px;
    display: inline-block;
    font-size: 26px;
    padding-bottom: 10px;
}

#RowFour #Entry {
    display: inline-block;
    margin-right: 40px;
    width: 200px;
}
#RowFour #Entry {
    display: inline-block;
    margin-right: 70px;
    width: 610px;
}
#RowFive {
    height: 50px;
    display: inline-block;
    width: 980px;
    background-image: url("https://www.transparenttextures.com/patterns/low-contrast-linen.png");
    background-color: white;
    border-top: 2px solid black;
    padding: 20px 40px 50px 20px;

}
#RowFive p {
    display: inline-block;
    font-size: 26px;
    padding-bottom: 10px;
    width: 600px;
    font-family: OCR A Std, monospace;
}
#RowFive #Checkbutton {
    font-size: 20px;
    padding: 0px 50px 0px 10px;
    display: inline-block;
    background-color: white;
    border: 1px solid black;
    width: 300px;
    padding: 5px;
    border-radius: 7px;
    text-align:center;
}
#address {
    font-size: 13px;
    padding: 0px 0px 0px 10px;
    display: inline-block;
}

#checkTitle {
    display: inline-block;
    padding-left: 140px;
    padding-bottom: 0px;
    padding-right: 100px;
    padding-top: 30px;
    font: SourceSansPro;
    font-size: 40px;
    padding-bottom: 20px;
}

.scalene {
    width: 0;
    height: 0;
    text-indent: -9999px;
    border-right: 40px solid transparent;
    border-bottom: 150px solid #eeff8f;
    border-left: 650px solid transparent;
    
    /* margin-left: 200px; */
}
/* ******************************* Address Book ************************************** */

#AddressBook {
    display: inline-block;
    background-color: #89632c;
    border-radius: 30px;
    margin-left: 13%;

}
#AddressBookLeft {
    Width: 400px;
    height: 500px;
    background-color: #eeff8f;
    border: 10px solid #89632c;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-left-width: 20px;
    border-right-width: 1px;
    padding: 0px;
    display: inline-block;
    margin: 0px;
}
#AddressBookRight {
    Width: 400px;
    height: 500px;
    background-color: #eeff8f;
    border: 10px solid #89632c;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-right-width: 20px;
    border-left-width: 1px;
    padding: 0px;
    display: inline-block;
    margin: 0px;
}
#ArrowBoxLeft {
    width: 100px;
    height: 100px;
    background-color: #ffc08f;
    border-top-left-radius: 10px;
    margin-right: 300px;
}
#ArrowBoxRight {
    width: 100px;
    height: 100px;
    background-color: #ffc08f;
    border-top-right-radius: 10px;
    margin-left: 300px;
}
#Information {
    Margin-left: 50px;
    Margin-top: 50px;
    font-size: 28px;
}
#AddressBookButton {
    height: 50px;
    width: 250px;
    Margin-left: 50px;
    Margin-top: 50px;
    border-radius: 30px;
    font-size: 50px;
    background-color: white;
    border: 2px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}



/* ******************************* CheckBalance Book ************************************** */

#CheckBalanceBook {
    display: inline-block;
    background-color: #89632c;
    border-radius: 30px;
    margin-left:22%;
    box-shadow: 
    0 20px 30px -15px rgba(0,0,0,0.5),
    0 40px 40px -20px rgba(0,0,0,0.4),
    0 70px 50px -30px rgba(0,0,0,0.3),
    0 40px 60px -5px rgba(203,14,40,0.3);
}
#CheckBalanceLeft {
    Width: 400px;
    height: 800px;
    background-color: #eeff8f;
background-image: url("https://www.transparenttextures.com/patterns/low-contrast-linen.png");
    border: 10px solid #89632c;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-left-width: 20px;
    border-right-width: 1px;
    padding: 0px;
    display: inline-block;
    margin: 0px;
}
#CheckBalanceRight {
    Width: 400px;
    height: 800px;
    background-color: #eeff8f;
background-image: url("https://www.transparenttextures.com/patterns/low-contrast-linen.png");
    border: 10px solid #89632c;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-right-width: 20px;
    border-left-width: 1px;
    padding: 0px;
    display: inline-block;
    margin: 0px;
}
#CheckBalanceArrowBoxLeft {
    width: 100px;
    height: 100px;
    background-color: #ffc08f;
    border-top-left-radius: 10px;
    margin-right: 300px;
}
#CheckBalanceArrowBoxRight {
    width: 100px;
    height: 100px;
    background-color: #ffc08f;
    border-top-right-radius: 10px;
    margin-left: 300px;
}
#CheckBalanceInformation {
    display: inline-block;
}
#CheckBalanceButton {
    height: 50px;
    width: 250px;
    Margin-left: 50px;
    Margin-top: 50px;
    border-radius: 30px;
    font-size: 50px;
    background-color: white;
    border: 2px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

#LeftBlueBar {
    Width: 400px;
    height: 80px;
    background-color:#00bcd4;
    background-image: url("https://www.transparenttextures.com/patterns/low-contrast-linen.png");
    display: inline-block;
}

#BlueDate {
    Width: 100px;
    height: 80px;
    border-right: 2px solid #000000;
    background-color:#00bcd4;
    background-image: url("https://www.transparenttextures.com/patterns/low-contrast-linen.png");
    display: inline-block;
    text-align: center;
}

#BlueDate p {
    display: inline-block;
    vertical-align: middle;
}

#BlueType {
    Width: 100px;
    height: 80px;
    border-right: 2px solid #000000;
    background-color:#00bcd4;
    background-image: url("https://www.transparenttextures.com/patterns/low-contrast-linen.png");
    display: inline-block;
    text-align: center;
}

#BlueType p {
    display: inline-block;
    vertical-align: middle;
}

#BlueCompanies {
    Width: 196px;
    height: 80px;
    background-color:#00bcd4;
    background-image: url("https://www.transparenttextures.com/patterns/low-contrast-linen.png");
    display:inline-block;
    text-align: center;
}

#BlueCompanies p {
    display: inline-block;
    vertical-align: middle;
}

#BlueBeginningAmount {
    Width: 140px;
    height: 80px;
    border-right: 2px solid #000000;
    background-color:#00bcd4;
    background-image: url("https://www.transparenttextures.com/patterns/low-contrast-linen.png");
    display: inline-block;
    text-align: center;
}

#BlueBeginningAmount p {
    display: inline-block;
    vertical-align: middle;
}

#BlueAmountDue {
    Width: 100px;
    height: 80px;
    border-right: 2px solid #000000;
    background-color:#00bcd4;
    background-image: url("https://www.transparenttextures.com/patterns/low-contrast-linen.png");
    display: inline-block;
    text-align: center;
}

#BlueAmountDue p {
    display: inline-block;
    vertical-align: middle;
}

#BlueBalance {
    Width: 156px;
    height: 80px;
    background-color:#00bcd4;
    background-image: url("https://www.transparenttextures.com/patterns/low-contrast-linen.png");
    display:inline-block;
    text-align: center;
}

#BlueBalance p {
    display: inline-block;
    vertical-align: middle;
}

#DateStrip {
    height: 620px;
    Width: 100px;
    border-right: 2px solid #000000;
    background-color: white;
    background-image: url("https://www.transparenttextures.com/patterns/low-contrast-linen.png");
    display: inline-block;
    border-bottom-left-radius: 20px;
}

#TypeStrip {
    height: 620px;
    Width: 100px;
    border-right: 2px solid #000000;
    background-color: white;
    background-image: url("https://www.transparenttextures.com/patterns/low-contrast-linen.png");
    display: inline-block;
}

#CompaniesStrip {
    height: 620px;
    width: 196px;
    background-color: white;
    background-image: url("https://www.transparenttextures.com/patterns/low-contrast-linen.png");
    display: inline-block;
}

#BeginningAmountStrip {
    height: 620px;
    width: 140px;
    border-right: 2px solid #000000;
    background-color: white;
    background-image: url("https://www.transparenttextures.com/patterns/low-contrast-linen.png");
    display: inline-block;
}

#AmountDueStrip {
    height: 620px;
    Width: 100px;
    border-right: 2px solid #000000;
    background-color: white;
    background-image: url("https://www.transparenttextures.com/patterns/low-contrast-linen.png");
    display: inline-block;
}

#BalanceStrip {
    height: 620px;
    width: 156px;
    border-bottom-right-radius: 20px;
    background-color: white;
    background-image: url("https://www.transparenttextures.com/patterns/low-contrast-linen.png");
    display: inline-block;
}

/* ******************************* 1 - MiniBank Book ************************************** */

#MiniBankBookOpen1 {
    width:350px;
    height:200px;
    background-color: #eeff8f;
background-image: url("https://www.transparenttextures.com/patterns/low-contrast-linen.png");
    border-radius: 20px;
    border: 10px solid #89632c;
    border-bottom: 4px solid #89632c;
    border-top: 4px solid #89632c;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: center;
    /* font-size: 20px; */
    display: inline-block;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 
    0 20px 30px -15px rgba(0,0,0,0.5),
    0 40px 40px -20px rgba(0,0,0,0.4),
    0 70px 50px -30px rgba(0,0,0,0.3),
    0 40px 60px -5px rgba(203,14,40,0.3);
}
/* #MiniBankBookOpen1 p {
    
} */

#MiniBankBookClosed1 {
    width:175px;
    height:200px;
    background-color: #3f51b5;
    background-color: #004f8c;
background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
    border-radius: 20px;
    border: 2px solid black;
    border-left: 20px solid black;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    text-align: center;
    /* font-size: 20px; */
    color: #eeff8f;
    display: inline-block;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 
    0 20px 30px -15px rgba(0,0,0,0.5),
    0 40px 40px -20px rgba(0,0,0,0.4),
    0 70px 50px -30px rgba(0,0,0,0.3),
    0 40px 60px -5px rgba(203,14,40,0.3);
}
/* #MiniBankBookClosed1 p {
    Margin: 20px;
} */

/* ******************************* 2 - MiniBank Book ************************************** */

#MiniBankBookOpen2 {
    width:350px;
    height:200px;
    background-color: #eeff8f;
background-image: url("https://www.transparenttextures.com/patterns/low-contrast-linen.png");
    border-radius: 20px;
    border: 10px solid #89632c;
    border-bottom: 4px solid #89632c;
    border-top: 4px solid #89632c;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: center;
    /* font-size: 20px; */
    display: inline-block;
    margin-left: 10%;
    margin-right: 10%;
    Margin-right: 100px;
    box-shadow: 
    0 20px 30px -15px rgba(0,0,0,0.5),
    0 40px 40px -20px rgba(0,0,0,0.4),
    0 70px 50px -30px rgba(0,0,0,0.3),
    0 40px 60px -5px rgba(203,14,40,0.3);
}
/* #MiniBankBookOpen2 p {
    
} */

#MiniBankBookClosed2 {
    width:175px;
    height:200px;
    background-color: #3f51b5;
    background-color: #004f8c;
    background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
    border-radius: 20px;
    border: 2px solid black;
    border-left: 20px solid black;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    text-align: center;
    /* font-size: 20px; */
    color: #eeff8f;
    display: inline-block;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 
    0 20px 30px -15px rgba(0,0,0,0.5),
    0 40px 40px -20px rgba(0,0,0,0.4),
    0 70px 50px -30px rgba(0,0,0,0.3),
    0 40px 60px -5px rgba(203,14,40,0.3);
}
/* #MiniBankBookClosed2 p {
    Margin: 20px;
} */

/* ******************************* Skem Main Menu ************************************** */


#centre {
    display: inline;
    text-align: center;
    margin: auto;
}

#checkbalancedisable {
    width:300px;
    height:200px;
    background-color: #c6c6c6;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid #c6c6c6;
    color: white;
}

#transferpaymentdisable {
    width:300px;
    height:200px;
    background-color: #c6c6c6;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid #c6c6c6;
    color: white;
}


.optionbutton {
    width:300px;
    height:200px;
    background-color: #0275d8;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid black;
}

