body {
    display: block;
    margin-left: 20%;
    margin-right: 20%;
    background-color: #f5f5f5;
}
body h1 {
    text-align: center;
}


/* ******************************* Check Book ************************************** */

#CheckBody {
    width: 800px;
    height: 350px;
    border: 20px solid #00bcd4;
    Background-color: #eeff8f;
    display: inline-block;
    margin-left: 13%;
    
}
#Entry {
    background-color: white;
    border: 1px solid black;
    width: 150px;
    padding: 5px;
    display: inline-block;
}
#RowOne {
    height: 50px;
    width: 800px;
    display: inline-block;
}
#RowOne p {
    width: 120px;
    display: inline-block;
    font-size: 14px;
    padding-bottom: 10px;
}
#RowTwo {
    padding: 20px 20px 0px 20px;
    display: inline-block;
    width: 800px;
}
#RowTwo #Entry {
    margin-top: 30px;
    margin-right: 20px;
    width: 200px;
}
#RowThree {
    height: 50px;
    padding: 20px 0px 0px 20px;
    display: inline-block;
    width: 800px;
}
#RowThree #Entry {
    margin-right: 20px;
    width: 200px;
}
#RowFour {
    height: 60px;
    width: 800px;
    display: inline-block;
    padding: 0px 0px 10px 10px;
}
#RowFour p {
    width: 120px;
    display: inline-block;
    font-size: 26px;
    padding-bottom: 10px;
}
#RowFour #Entry {
    margin-right: 40px;
    width: 200px;
    height: 15px;
}
#RowFive {
    height: 100px;
    display: inline-block;
    width: 800px;
    padding: 0px 0px 0px 20px;
}
#RowFive p {
    display: inline-block;
    font-size: 26px;
    padding-bottom: 10px;
    width: 400px;
}
#RowFive #Checkbutton {
    font-size: 20px;
    padding: 0px 50px 0px 10px;
    display: inline-block;
    background-color: white;
    border: 1px solid black;
    width: 300px;
    padding: 5px;
    display: inline-block;
    border-radius: 7px;
    text-align:center;
}
#address {
    size: 12px;
    font-size: 13px;
    padding: 0px 0px 0px 10px;
    display: inline-block;
}

#checkTitle {
    display: inline-block;
    padding: 0px 30px 90px 100px;
    font: SourceSansPro;
}

/* ******************************* Address Book ************************************** */

#AddressBook {
    display: inline-block;
    background-color: #89632c;
    border-radius: 30px;
    margin-left: 13%;

}
#AddressBookLeft {
    Width: 400px;
    height: 500px;
    background-color: #eeff8f;
    border: 10px solid #89632c;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-left-width: 20px;
    border-right-width: 1px;
    padding: 0px;
    display: inline-block;
    margin: 0px;
}
#AddressBookRight {
    Width: 400px;
    height: 500px;
    background-color: #eeff8f;
    border: 10px solid #89632c;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-right-width: 20px;
    border-left-width: 1px;
    padding: 0px;
    display: inline-block;
    margin: 0px;
}
#ArrowBoxLeft {
    width: 100px;
    height: 100px;
    background-color: #ffc08f;
    border-top-left-radius: 10px;
    margin-right: 300px;
}
#ArrowBoxRight {
    width: 100px;
    height: 100px;
    background-color: #ffc08f;
    border-top-right-radius: 10px;
    margin-left: 300px;
}
#Information {
    Margin-left: 50px;
    Margin-top: 50px;
    font-size: 28px;
}
#AddressBookButton {
    height: 50px;
    width: 250px;
    Margin-left: 50px;
    Margin-top: 50px;
    border-radius: 30px;
    font-size: 50px;
    background-color: white;
    border: 2px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}